
terraform/.terraform/providers/registry.terraform.io/hashicorp/aws/5.70.0/windows_amd64/terraform-provider-aws_v5.70.0_x5.exe
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/.terraform.lock.hcl
terraform/.terraform/providers/registry.terraform.io/hashicorp/aws/5.70.0/windows_amd64/LICENSE.txt
terraform/.terraform/providers/registry.terraform.io/hashicorp/github/6.3.1/windows_amd64/CHANGELOG.md
terraform/.terraform/providers/registry.terraform.io/hashicorp/github/6.3.1/windows_amd64/LICENSE
terraform/.terraform/providers/registry.terraform.io/hashicorp/github/6.3.1/windows_amd64/README.md
terraform/.terraform/providers/registry.terraform.io/hashicorp/github/6.3.1/windows_amd64/terraform-provider-github_v6.3.1.exe
terraform/.terraform/providers/registry.terraform.io/hashicorp/google/6.6.0/windows_amd64/terraform-provider-google_v6.6.0_x5.exe
terraform/.terraform/providers/registry.terraform.io/hashicorp/google/6.6.0/windows_amd64/LICENSE.txt
terraform/google/terraform.tfstate.backup
terraform/google/terraform.tfstate
terraform/google/.terraform/providers/registry.terraform.io/hashicorp/random/3.6.3/windows_amd64/terraform-provider-random_v3.6.3_x5.exe
terraform/google/.terraform/providers/registry.terraform.io/hashicorp/random/3.6.3/windows_amd64/LICENSE.txt
terraform/google/.terraform/providers/registry.terraform.io/hashicorp/kubernetes/2.33.0/windows_amd64/terraform-provider-kubernetes_v2.33.0_x5.exe
terraform/google/.terraform/providers/registry.terraform.io/hashicorp/kubernetes/2.33.0/windows_amd64/LICENSE.txt
terraform/google/.terraform/providers/registry.terraform.io/hashicorp/google/6.7.0/windows_amd64/terraform-provider-google_v6.7.0_x5.exe
terraform/google/.terraform/providers/registry.terraform.io/hashicorp/google/6.7.0/windows_amd64/LICENSE.txt
terraform/google/.terraform.lock.hcl
terraform/google/.terraform.tfstate.lock.info
terraform/google/.terraform/modules/gke/
terraform/google/.terraform/modules/modules.json
terraform/google/.terraform/providers/registry.terraform.io/hashicorp/google-beta/6.7.0/windows_386/LICENSE.txt
terraform/google/.terraform/providers/registry.terraform.io/hashicorp/google-beta/6.7.0/windows_386/terraform-provider-google-beta_v6.7.0_x5.exe
terraform/google/.terraform/providers/registry.terraform.io/hashicorp/google/6.7.0/windows_386/LICENSE.txt
terraform/google/.terraform/providers/registry.terraform.io/hashicorp/google/6.7.0/windows_386/terraform-provider-google_v6.7.0_x5.exe
terraform/google/.terraform/providers/registry.terraform.io/hashicorp/kubernetes/2.33.0/windows_386/LICENSE.txt
terraform/google/.terraform/providers/registry.terraform.io/hashicorp/kubernetes/2.33.0/windows_386/terraform-provider-kubernetes_v2.33.0_x5.exe
terraform/google/.terraform/providers/registry.terraform.io/hashicorp/random/3.6.3/windows_386/LICENSE.txt
terraform/google/.terraform/providers/registry.terraform.io/hashicorp/random/3.6.3/windows_386/terraform-provider-random_v3.6.3_x5.exe
terraform/google/saxionclouds.json
